@import "haiku.css";

/* @font-face { */
/*     font-family: 'Essays 1743'; */
/*     src: url('f/essays1743-webfont.eot'); */
/*     src: local('Essays 1743'), url('f/essays1743-webfont.woff') format('woff'), url('f/essays1743-webfont.ttf') format('truetype');  */
/*     font-weight: normal; */
/*     font-style: normal */
/*     } */
/* @font-face { */
/*     font-family:'Essays 1743'; */
/*     src: url('f/essays1743-italic-webfont.eot'); */
/*     src: local('Essays 1743'), url('f/essays1743-italic-webfont.woff') format('woff'), url('f/essays1743-italic-webfont.ttf') format('truetype'); */
/*     font-weight: normal; */
/*     font-style: italic */
/*     } */
/* @font-face { */
/*     font-family: 'Linux Libertine'; */
/*     src: url('f/linlibertine_re-4.7.5-webfont.eot'); */
/*     src: local('Linux Libertine'), url('f/linlibertine_re-4.7.5-webfont.woff') format('woff'), url('f/linlibertine_re-4.7.5-webfont.ttf') format('truetype'); */
/*     font-weight: normal;  */
/*     font-style: normal */
/*     } */
/* @font-face{ */
/*     font-family: 'Linux Libertine'; */
/*     src: url('f/linlibertine_bd-4.1.5-webfont.eot');  */
/*     src: local('Linux Libertine'), url('f/linlibertine_bd-4.1.5-webfont.woff') format('woff'), url('f/linlibertine_bd-4.1.5-webfont.ttf') format('truetype'); */
/*     font-weight: bold; */
/*     font-style: normal */
/*     } */
/* @font-face { */
/*     font-family: 'Linux Libertine'; */
/*     src: url('f/linlibertine_it-4.2.6-webfont.eot'); */
/*     src: local('Linux Libertine'), url('f/linlibertine_it-4.2.6-webfont.woff') format('woff'), url('f/linlibertine_it-4.2.6-webfont.ttf') format('truetype'); */
/*     font-weight: normal;  */
/*     font-style:italic */
/*     } */

html {
    background: #fff;
}

body {
    font-family: Palatino, Georgia, Times, "Times New Roman";
    font-size: large;
    color: #000;
}

pre, .pre, tt, .literal {
    font-family: Consolas, Monospace;
}

body div.content {
    margin: 0 auto;
    max-width: 800px;
    _width: 800px;
    font-size: 17px;
    /* word-spacing: .1em; */
}

pre, .pre, tt, .literal {
    font-size: 14px;
}

div.section img {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    font-family: Palatino,Georgia,Times,"Times New Roman";
    text-align: center;
    text-shadow: 0 0 1px #666677;
    text-transform: uppercase;
    color: black;
    border-bottom: none;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

a, 
a:link,
a:visited {
    color: #2F2F2F;
    text-decoration: underline;
}

a:hover {
    color: #4f4f4f;
}

div.header h1,
div.header h1 a {
    color: black;
}

div.note,
div.warning,
div.admonition {
    border-radius: 0;

}

div.note {
    background-color: #f7fff5;
}

div.warning {
    background-color: #fffeed;
}

div.header {
    display: none;
}

div.bottomnav {
    background: #fff;
}

#disqus_thread {
    max-width: 800px;
    margin: 0 auto;
}

.dsq-comment-text {
    font-size: 16px;
}
